{% extends "base.html" %}
{% block content %}
<style>
    .padded-container ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    
    .padded-container li {
        text-align: center;
    }
    
    .padded-container li a {
        text-decoration: none;
        color: inherit;
    }
    
    .demo-card {
        display: flex;
        position: relative;
        border: 2px solid #5e5e5e;
        border-radius: var(--border-radius);
        overflow: hidden;
        text-decoration: none;
        aspect-ratio: 1;
    }

    .demo-card img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .demo-card h1 {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0;
        padding: 0.4rem;
        font-weight: bold;
        background-color: rgba(20, 20, 20, 0.8);
    }
</style>

<div class="padded-container">
    <ul>
        {% for example in section.pages %}
        <li>
            <a class="demo-card" href="{{ example.path }}">
                <img src="{{ example.path }}/preview.png" alt=" Preview" />
                <h1>{{ example.title }}</h1>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}