{% extends "base.html" %}
{% block content %}
<style>
    main {
        padding-left: 0;
        padding-right: 0;
    }

    .demo-container {
        height: calc(100vh - var(--header-height));
        overflow: hidden;
    }

    .loading-spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        width: 100px;
        height: 100px;
        border: 4px solid #808080;
        border-radius: 50%;
        border-top-color: #ffffff1a;

        animation: loadingspinner 1s linear infinite;
    }

    @keyframes loadingspinner {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script type="module">
    import init from "./example.js";

    async function run() {
        let response = await fetch("example_bg.wasm");

        const transform = new TransformStream({
            flush() {
                setTimeout(
                    () => document.querySelector(".loading-spinner").remove(),
                    100
                );
            },
        });

        return init(
            new Response(response.body.pipeThrough(transform), response)
        ).catch((error) => {
            if (
                !error.message.startsWith(
                    "Using exceptions for control flow, don't mind me. This isn't actually an error!"
                )
            ) {
                throw error;
            }
        });
    }

    run();
</script>

<div class="demo-container">
    <div class="loading-spinner"></div>
    <canvas id="app" oncontextmenu="return false"></canvas>
</div>
{% endblock content %}